body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
  height: auto;
}
a {
  text-decoration: none;
}
input {
  border: 0;
  outline: 0;
  background-color: rgba(46, 95, 95, 0.336);
  color: #252525;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.overlay1 {
  background: url("img/home.jpg") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.home-ov {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #45f7e7, #e5e5f7),
    repeating-radial-gradient(
      circle at center center,
      #45f7e7,
      #45f7e7,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
  padding: 10px;
  border-radius: 1000px;
  height: 80%;
}

.home-info {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow: hidden;
}
.home-info h3 {
  color: #2075ed;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 10px 0;
}
.overlay3 {
  background: url("img/home2.jpg") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 120%;
  z-index: -2;
}
.overlay2 {
  background: linear-gradient(
    to right,
    #e78949,
    #b8ac54
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.overlay22 {
  height: 120%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.container-card {
  height: -webkit-fill-available;
}
.container-card2 {
  margin-top: 20vh;
}

.login {
  justify-content: center;
  padding: 20px;
  margin-top: 20vh;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(249, 194, 132, 0.25);
  border-radius: 50px;
  transition: 0.5s ease-out;
}
.login2 {
  justify-content: center;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(249, 194, 132, 0.25);
  border-radius: 50px;
  transition: 0.5s ease-out;
  width: 40vw;
}
.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.err {
  color: red;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(249, 171, 93);
  transition: 1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(154, 113, 81, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.card {
  padding: 5vh 5vw 5vh 5vw;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(5px);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 2em;
  padding: 10px;
}
.item-col {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.item-col-ar {
  justify-content: space-evenly;
  width: 100%;
  display: flex;
}

table {
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
th {
  background-color: #fff;
}
tr {
  background-color: #e8eed6;
}
tr:nth-child(even) {
  background-color: #d6eeee;
  border-bottom: 2px solid #ddd;
}
td {
  width: 10vw;
}
td:nth-child(7) {
  width: 15vw;
}

.item-table table {
  box-shadow: 0 0 0 1px black;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.item-table tbody {
  margin: 10px;
  padding: 10px;
}
.item-table tr {
  background-color: #e8eed600;
  border: none;
}
.item-table th {
  background-color: #e8eed600;
}
.item-table tr:nth-child(2) {
  text-align: left;
}
.item-table tr:nth-child(3) {
  text-align: left;
}
.item-table tr:nth-child(4) {
  text-align: left;
}
.item-table tr:nth-child(5) {
  text-align: left;
}
.item-table td:nth-child(2) {
  text-align: right;
}
.info-table tr {
  text-align: left;
  border-bottom: 2px solid #ddd;
}
.info-table td {
  text-align: right;
}
.usertable th {
  text-align: center;
}

.iframe {
  width: 100%;
  height: 40vh;
}

.btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media (max-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2em;
    padding: 10px;
  }
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("https://www.polyu.edu.hk/-/media/department/home/content/about-polyu/strategic-plan_2_1080x524.jpg?bc=ffffff&h=262&w=540&hash=9ADF50BE4C65546D3223DE45AC9B81CC");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://www.polyu.edu.hk/-/media/department/home/photowall/about-polyu_photowall/aboutpolyu_campus6.png?mh=840&mw=840&hash=EF40260340F9AF409295743626B8EC6A");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://www.polyu.edu.hk/-/media/department/home/photowall/about-polyu_photowall/aboutpolyu_campus7.png?mh=840&mw=840&hash=DD9DA8CA9B2B31F1942E299310B1DDA6");
  min-height: 400px;
}
